{% block text_knowledge %}
    {% if sum <= 500 %}
Похвально твое стремление к знаниям, Юнлинг! Вознаграждаем тебя за это 100 Banana-coins!
    {% elif sum <= 800%}
Похвально твое стремление к знаниям, Падаван! ВознаграждПадаванаем тебя за это 100 Banana-coins!
    {% else %}
Похвально твое стремление к знаниям, Джедай! Вознаграждаем тебя за это 100 Banana-coins!
    {% endif %}
Ты можешь их потратить уже сейчас, чтобы присоединиться к Banana Crypto Alliance и начать зарабатывать на криптовалютах или окунуться в наши свитки с тайными знаниями, чтобы пробудить в себе Силу и выбрать уникальную нишу для заработка.
{% endblock %}

{% block buttons1 %}
Потратить 100 Banana-coins
Посмотреть результаты Banana Crypto Alliance
Найти свой путь к Силе
{% endblock %}


{% block text_knowledge2 %}
{% if sum <= 500 %}
Правильный выбор, Юнлинг.
    {% elif sum <= 800%}
Правильный выбор, Падаван.
    {% else %}
Правильный выбор, Джедай.
    {% endif %}
Правильный выбор, Юнлинг.
За каждую изученную статью, под которой ты оставишь комментарий со своими инсайтами мы начислим на твой счет по 100 Banana-coins, выбирай, с чего начнется твой путь.
Да прибудет с тобой Сила!
{% endblock %}

{% block buttons2 %}
1Как определиться с нишей для заработка
2Работа с минимальным капиталом или без него
3Как заходить на рынок криптовалют в 2023
4Зачем инвестировать в крипту
5Private Alliance
6Research
7IDO
8Nodes
{% endblock %}



{% block buttons3 %}
{% if choice == '1' %}
https://yandex.ru
{% elif choice == '2' %}
https://yandex.ru
{% elif choice == '3' %}
Как заходить на рынок криптовалют в 2023
{% elif choice == '4' %}
Зачем инвестировать в крипту
{% elif choice == '5' %}
Private Alliance
{% elif choice == '6' %}
Research
{% elif choice == '7' %}
IDO
{% else%}
Nodes
{% endif %}
{% endblock %}

{% block notify %}
Хочешь научиться зарабатывать на этом направлении и подробнее разобраться в других - регистрируйся на вебинар {{ webinar_title }}
{% endblock %}


{% block buttons4 %}
Присоединиться к Banana Crypto Alliance
Зарегистрироваться на вебинар {{ webinar_title }}
Посмотреть результаты Banana Crypto Alliance
Продолжить изучение базы знаний
{% endblock %}


{% block alliance_link %}
https://www.bananacrypto.ru/
{% endblock %}