{% block text %}
Настало время проверить свои силы,
{% endblock %}

{% block buttons %}
Присоединиться к Banana Crypto Alliance
Зарегистрироваться на вебинар название {{ webinar_title }}
Посмотреть результаты Banana Crypto Alliance
{% endblock %}


{% block webinar_start %}
Мы начинаем. Подключайся к вебинару, который перевернет твое представление о криптоиндустрии и твоем развитии в сфере цифровых валют.

Ждем тебя в эфире!
{% endblock %}


{% block before_12 %}
До открытия новой главы твоей жизни всего 12 часов.

После этого вебинара ты увидишь новые пути личного и финансового развития. Если все еще ждешь знака судьбы, то вот он.
{% endblock %}

{% block before_3 %}
До открытия новой главы твоей жизни всего 3 часа.

После этого вебинара ты увидишь новые пути личного и финансового развития. Если все еще ждешь знака судьбы, то вот он.
{% endblock %}

{% block before_1 %}
Через 60 минут стартуем.
Приготовь бумагу и ручку. Полезной инфы будет много.
Также у тебя появится возможность стать частью крупнейшего криптокомьюнити в русскоязычном сегменте.
Новые связи, новый опыт, новый источник дохода.

До встречи в эфире
{% endblock %}

{% block alliance_link %}
https://www.bananacrypto.ru/
{% endblock %}