{% block text %}
Настало время проверить свои силы,
{% endblock %}

{% block buttons %}
Присоединиться к Banana Crypto Alliance
Зарегистрироваться на вебинар название {{ webinar_title }}
Посмотреть результаты Banana Crypto Alliance
{% endblock %}


{% block webinar_start %}
Мы начинаем. Подключайся к вебинару, который перевернет твое представление о криптоиндустрии и твоем развитии в сфере цифровых валют.

Ждем тебя в эфире!
{% endblock %}


{% block alliance_link %}
https://www.bananacrypto.ru/
{% endblock %}