{% block start_test %}
Поздравляю, отличный выбор! Сейчас ты - Юнлинг.

<strong>Ранг Юнлинг</strong>
Ты в самом начале пути. Замечательно, что мы встретились именно сейчас. Опыт криптанов позволит тебе подробно изучить криптосферу и избежать больших финансовых потерь. Здесь ты найдешь знания и первым будешь узнавать об изменениях криптомира.

<strong>Ранг Падаван</strong>
Ты уже имеешь определенный опыт и знания, которые позволяют тебе ориентироваться в криптовселенной. Возможно ты обучился у мастера джедая, а может приобрел навыки самостоятельно. и сейчас ты уже готов обрести бесконечную силу вместе с Banana Crypto Alliance.

<strong>Ранг Джедай</strong>
Ты уже опытный криптан и сам можешь обучить падаванов. Для таких профи на Банановой планете был создан закрытый клуб Banana Crypto Alliance. Этот аналитический сервис позволит тебе сэкономить уйму времени и заработать больше денег, а главное, обзавестись надежными союзниками!

Итак, приступим же к испытанию!
{% endblock %}


___________________________________________________________________

{% block question_1 %}
Сезонный ли трейдинг?

1. да
2. нет
3. зависит от стиля торговли
{% endblock %}

{% block answer_1 %}
Верно! Все зависит от стиля торговли: чем дольше удерживаются позиции в трейдинге,
тем более подвержен данный стиль торговли сезонности, а точнее фазам рынка.
{% endblock %}

{% block wrong_answer_1 %}
Неверно! Все зависит от стиля торговли: чем дольше удерживаются позиции в трейдинге,
тем более подвержен данный стиль торговли сезонности, а точнее фазам рынка.
{% endblock %}

{% block question_2 %}
Можно ли зарабатывать на падении цены актива в трейдинге?
1. можно
2. нельзя
3. только в инвестировании
{% endblock %}

{% block answer_2 %}
Верно! Можно: существуют инструменты, позволяющие зарабатывать на падении стоимости актива, например: фьючерсы, опционы или маржинальная торговля.
{% endblock %}

{% block wrong_answer_2 %}
Неверно! Можно: существуют инструменты, позволяющие зарабатывать на падении стоимости актива, например: фьючерсы, опционы или маржинальная торговля.
{% endblock %}

{% block question_3 %}
Cколько времени необходимо уделять трейдингу?

1. 8 часов в сутки
2. 1 день в неделю
3. 30 минут в сутки
4. все зависит от выбранного стиля торговли
{% endblock %}

{% block answer_3 %}
Верно!  Все зависит от выбранного стиля торговли. Чем короче время удержания позиций,
тем больше времени уходит на трейдинг, так как необходимо постоянно следить за рынком и искать новые хорошие точки входа в позицию.
При удержании долгосрочных позиций необходимо лишь общее понимание текущей фазы рынка и периодический анализ позиций
{% endblock %}

{% block wrong_answer_3 %}
Неверно! Все зависит от выбранного стиля торговли. Чем короче время удержания позиций, тем больше времени уходит на трейдинг,
так как необходимо постоянно следить за рынком и искать новые хорошие точки входа в позицию.
При удержании долгосрочных позиций необходимо лишь общее понимание текущей фазы рынка и периодический анализ позиций
{% endblock %}

{% block question_4 %}
Гарантированы ли ретродропы за использование протоколов ?
1) да, абсолютно каждый проект раздает ретро(аир)дроп своим пользователям
2) нет, проекты могут не вознаграждать своих ранних пользователей или вообще не выпустить токен.
3) да, но только по знакомству
{% endblock %}

{% block answer_4 %}
Верно! Проекты могут не вознаграждать своих ранних пользователей или вообще не выпустить токен
{% endblock %}

{% block wrong_answer_4 %}
Не верно! Проекты могут не вознаграждать своих ранних пользователей или вообще не выпустить токен
{% endblock %}

{% block question_5 %}
Что такое Snapshot?

1 копия данных виртуальной машины и всего состояния системы (блокчейна), т.е. снимок кошельков
2 мобильное приложение для обмена фото и видео
3 скилл в CS GO
4 инструмент для дропхантинга
{% endblock %}

{% block answer_5 %}
Верно! Snapshot - это копия данных виртуальной машины и всего состояния системы (блокчейна), т.е. снимок кошельков
{% endblock %}

{% block wrong_answer_5 %}
Не верно! Snapshot - это копия данных виртуальной машины и всего состояния системы (блокчейна), т.е. снимок кошельков
{% endblock %}

{% block question_6 %}
Известны ли заранее условия для получения ретродропа?

1 известны, команда сама пишет гайды по прохождению
2 известна только дата snapshot'а
3 условия неизвестны
4 известна только сумма ретродропа
{% endblock %}

{% block answer_6 %}
Верно! Условия неизвестны.
Действия, за которые можно получить ретродроп, могут быть совершенно разными от проекта к проекту: участие в дискорде проекта, свапы, добавление ликвидности или подписка на новостную рассылку
{% endblock %}

{% block wrong_answer_6 %}
Не верно! Условия неизвестны.
Действия, за которые можно получить ретродроп, могут быть совершенно разными от проекта к проекту: участие в дискорде проекта, свапы, добавление ликвидности или подписка на новостную рассылку
{% endblock %}

{% block question_7 %}
Какой один из главных факторов, который помогает понять, хороший ли перед нами проект на ранней стадии или нет?

1. Сильная и сбалансированная команда. (сильная и сбалансированная команда один из главных критериев, который помогает поднять деньги на стадии Pre-seed; Seed.
Есть еще ряд иных метрик, такие как сфера реализации проекта, есть ли MVP, экономическая модель и т.д. Но одним из главных является именно команда)
2. Сфера реализации проекта
3. Наличие MVP
4. Хорошая экономическая модель
{% endblock %}

{% block answer_7 %}
Верно! Сильная и сбалансированная команда - один из главных критериев, который помогает поднять деньги на стадии Pre-seed; Seed.
Есть еще ряд иных метрик, такие как сфера реализации проекта, есть ли MVP, экономическая модель и т.д.
Но одним из главных является именно команда
{% endblock %}

{% block wrong_answer_7 %}
Не верно! Сильная и сбалансированная команда - один из главных критериев, который помогает поднять деньги на стадии Pre-seed; Seed.
Есть еще ряд иных метрик, такие как сфера реализации проекта, есть ли MVP, экономическая модель и т.д.
Но одним из главных является именно команда
{% endblock %}

{% block question_8 %}
Eсли перед вами проект, который скоро собирается выйти на рынок. На что вы будете опираться, чтобы понять даст ли он вам необходимую прибыль?

1. Хорошая команда
2. Токеномика (экономическая модель, в которой заложены все основные метрики, которые нам необходимы, благодаря им мы способны спрогнозировать дальнейшее движение цены в момент выхода на рынок)
3. Название компании
{% endblock %}

{% block answer_8 %}
Верно! Токеномика - экономическая модель, в которой заложены все основные метрики, которые нам необходимы, благодаря им мы способны спрогнозировать дальнейшее движение цены в момент выхода на рынок
{% endblock %}

{% block wrong_answer_8 %}
Не верно! Токеномика - экономическая модель, в которой заложены все основные метрики, которые нам необходимы, благодаря им мы способны спрогнозировать дальнейшее движение цены в момент выхода на рынок
{% endblock %}

{% block question_9 %}
Что такое NFT?

1. Невзаимозаменяемый токен (NFT (non-fungible token) – это уникальный невзаимозаменяемый цифровой ключ, созданный на основе криптовалюты.
NFT не может быть уничтожен или заменен на другой такой токен. Он представляет собой некий сертификат уникальности и неповторимости какого-либо цифрового объекта)
2. Дорогая картинка обезьяны
3. Криптовалюта
{% endblock %}

{% block answer_9 %}
Верно! NFT (или же non-fungible token) – это уникальный невзаимозаменяемый цифровой ключ, созданный на основе криптовалюты.
NFT не может быть уничтожен или заменен на другой такой токен. Он представляет собой некий сертификат уникальности и неповторимости какого-либо цифрового объекта)
{% endblock %}

{% block wrong_answer_9 %}
Не верно! NFT (или же non-fungible token) – это уникальный невзаимозаменяемый цифровой ключ, созданный на основе криптовалюты.
NFT не может быть уничтожен или заменен на другой такой токен. Он представляет собой некий сертификат уникальности и неповторимости какого-либо цифрового объекта)
{% endblock %}


{% block question_10 %}
Как можно заработать на NFT?

1. Покупать и продавать на вторичном рынке
2. Покупать на ранней стадии проекта и продавать после выхода
3. Выигрывать в розыгрышах и продавать
4. Все вышеперечисленное
{% endblock %}

{% block answer_10 %}
Верно! Все вышеперечисленное!
{% endblock %}

{% block wrong_answer_10 %}
Не верно! Все вышеперечисленное!
{% endblock %}


{% block results %}
    {% if sum <= 500 %}
Поздравляю, Юнлинг! Твой путь был тернистым, но ты не отступил и преодолел все препятствия с честью!
    {% elif sum <= 800%}
Поздравляю, Падаван! Твой путь был тернистым, но ты не отступил и преодолел все препятствия с честью!
    {% else %}
Поздравляю, Джедай! Твой путь был тернистым, но ты не отступил и преодолел все препятствия с честью!
    {% endif %}
Забирай же награду свою -  {{ sum }} Banana-coins и тайный свиток, содержащий (название дополнительного материала с актуальными прибыльными проектами, в доке должны быть прикреплены наши кейсы по этому проекту/прогнозы, что растет, если прогнозы, то разложить по полочкам почему так думаем)

На твоем счету уже {{ sum }} Banana-coins. Так чего же ты ждешь? Давай начнем делать иксы вместе!


Хочешь узнавать первым о топовых проектах криптомира и не тратить время на аналитику? Самое время двигаться в сильном комьюнити к своим финансовым целям!
{% endblock %}


{% block keyboard_3 %}
1
2
3
{% endblock %}

{% block keyboard_4 %}
1
2
3
4
{% endblock %}
