{% block webinar_info %}
<strong>Узнай свою траекторию развития в крипте</strong>

Уже совсем скоро мы проведем практический вебинар, на котором разберем основные пути развития в криптосфере и ты сможешь выбрать именно свою.

На вебинаре рассмотрим:
1.
2.
3.

Для регистрации следуй по кнопкам в боте и встретимся в эфире
{% endblock %}

{% block button_1 %}
Хочу на вебинар
{% endblock %}

{% block webinar_reg %}
Для регистрации ответь на несколько вопросов.

Будь внимателен при вводе данных, потом ты не сможешь их исправить.

<strong>Напиши в ответ на это сообщение</strong>:
Свое имя
{% endblock %}

{% block webinar_reg2 %}
<strong>Напиши в ответ на это сообщение</strong>:
Свой email

Формат: banana@gmail.com
{% endblock %}

{% block webinar_reg3 %}
<strong>Напиши в ответ на это сообщение</strong>:
Свой телефон

Формат:
+89993334422
{% endblock %}

{% block webinar_reg4 %}
Отлично!
Остался последний шаг.

Выбери, в какое время тебе удобно подключиться к вебинару:
{% endblock %}

{% block button_time %}
19:00 по мск
15:00 по мск
12:00 по мск
{% endblock %}

{% block webinar_reg_end %}
Поздравляем, ты успешно зарегистрирован на вебинар {{ webinar_title }}✅

Уже завтра в {{ time }} по мск⏰ мы расскажем тебе о траекториях развития в крипте и покажем, как ты можешь развиваться в них вместе с нами!
{% endblock %}

{% block alliance_link %}
https://www.bananacrypto.ru/
{% endblock %}